<div id="rated_thanks" class="reveal-modal tiny new-rating-modals" data-reveal>
  <h2><%= t :thanks %></h2>
  <p class="lead"><%= t :thanks_message, scope: [:rating] %></p>
  <a class="close-reveal-modal">&#215;</a>
  <a href="#" class="button tiny" onclick="$('#rated_thanks').foundation('reveal', 'close'); window.location.href='<%= Settings.redirect_to_webpage %>'">OK</a>
</div>

<div id="unvalid" class="reveal-modal tiny new-rating-modals" data-reveal>
  <h2><%= t :invalid, scope: [:rating] %></h2>
</div>

<div id="val_error" class="reveal-modal tiny new-rating-modals" data-reveal>
  <h2><%= t :error, scope: [:rating] %></h2>
  <p><%= t :error_message, scope: [:rating] %></p>
</div>

<div id="rated_error" class="reveal-modal tiny new-rating-modals" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <h2><%= t :error, scope: [:rating] %></h2>
  <p><%= t :rated, scope: [:rating] %></p>
</div>

<div id="no_star_selected" class="reveal-modal tiny new-rating-modals" data-reveal>
  <h2><%= t :warning %></h2>
  <p class="lead"><%= t :no_star, scope: [:rating] %></p>
  <a class="close-reveal-modal">&#215;</a>
  <a href="#" class="button tiny reveal-close" onclick="$('.close-reveal-modal').click()" >No</a>
  <a href="#" class="button tiny" onclick="$('#submit-button').submit()">Yes</a>
</div>

<div id="no_star_selected" class="reveal-modal tiny new-rating-modals" data-reveal>
  <h2><%= t :warning %></h2>
  <p class="lead"><%= t :no_star, scope: [:rating] %></p>
  <a class="close-reveal-modal">&#215;</a>
  <a href="#" class="button tiny reveal-close" onclick="$('.close-reveal-modal').click()" >No</a>
  <a href="#" class="button tiny" onclick="$('#submit-button').submit()">Yes</a>
</div>




