= form_for @review, url: rating_reviews_path, remote: true do |form|
  =form.label :ignored_rating do
    = form.check_box :ignored_rating, onclick: "$('#submit-button').submit();"
    = t "rating.ignored"
  =form.label :reviewed? do
    = form.check_box :reviewed?, onclick: "$('#submit-button').submit();"
    = t "rating.reviewed"

  = form.text_area :text, rows: 9
  = form.submit (t "rating.review.save"), :class => 'button small', id: "submit-button", onsubmit: "$('#review_reviewed').prop('checked', true);"
