<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= content_for?(:title) ? yield(:title) : Rails.application.class.parent_name %></title>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/javascripts/translations.js" %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>


  <%= csrf_meta_tags %>

  <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
  </script>
</head>

<body>
<%= render :partial => 'shared/ga' if  Rails.env.production? %>

<!-- CONTENT AREA -->
<div class="full-width content-area">
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="right large-6 columns">
          <!-- START navigation -->
          <nav class="top-bar " data-topbar>
            <ul class="title-area">
              <!-- Title Area -->
              <li class="name">
              </li>
              <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
              <li class="toggle-topbar menu-icon">
                <a href="">Menu</a>
              </li>
            </ul>
            <section class="top-bar-section" style="left: 0%;">
              <!-- Right Nav Section -->
              <ul class="right">
                <li class="divider"></li>
                <!-- <li class="settings-button">
                      <%# link_to image_tag( "settings-logo.png", width: "15", :class => "settings-logo" ).html_safe + t("menu.settings"), "#" %>
                    </li> -->
                <li>
                  <%= link_to t("menu.logout"), destroy_user_session_path, method: :delete %>
                </li>
              </ul>
              <!-- Left Nav Section -->
              <ul class="left">

                <li class="not-click">
                  <div class="like-link"><%= t("menu.logedin_as") %> <strong><%= current_user.email %></strong></div>
                  <!-- <a><%# t("menu.logedin_as") %> <strong><%= current_user.email %></strong></a> -->
                </li>
              </ul>
            </section>
          </nav>
          <!-- END navigation -->
        </div>
      </div>
      <%# render :partial => 'shared/alerts' %>
      <div class="row">
        <% params = {customer: "all", employee: "all", time_interval: "all"}.to_query %>
        <a href="<%= "#{root_path}?#{params}" %>">
          <div class="large-6 columns backend-logo show-for-large-up">
            <%= image_tag Settings.logo, width: "250" %>
          </div>
          <div class="large-6 columns hide-for-large-up">
            <%= image_tag Settings.logo, width: "100%", style: "max-width: 300px;" %>
          </div>
        </a>

        <div class="right large-6 columns">
          <% if user_signed_in? %>

              <dl class="right sub-nav">
                <!-- <dd class="active"><%# link_to t(:wall), "#" %></dd> -->
                <%# image_tag( "wall-icon.png", width: "15", :class => "settings-logo" ).html_safe%>
                <dd><%= link_to t("menu.wall"), dashboard_wall_path, class: ("active" if action_name == "wall"), id: "wall" %></dd>
                <dd><%= link_to t("menu.employee"), dashboard_employees_list_path, id: "employees", class: ("active" if action_name == "employees_list") %></dd>
                <dd><%= link_to t("menu.customer"), dashboard_customers_list_path, id: "customers", class: ("active" if action_name == "customers_list") %></dd>
              </dl>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER AREA -->
<!--<div class="full-width footer-area">-->
<!--<div class="row">-->
<!--<div class="large-12 columns">-->
<!--&copy; 2013-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<%= javascript_include_tag "foundation" %>

</body>
</html>