<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= content_for?(:title) ? yield(:title) : Rails.application.class.parent_name %></title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%# stylesheet_link_tag "https://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>

</head>

<body>

<%# render :partial => 'shared/alerts' %>

<%= javascript_include_tag "foundation" %>

<section role="main">
    <%= yield %>
</section>

<%= render :partial => 'shared/modals' %>

</body>
</html>